<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Proyecto Websockets</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Bienvenido a la tienda</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/realtimeproducts">Productos en Tiempo Real</a>
    </nav>
  </header>
  <main>
    {{{body}}}  <!-- Esta es la sección donde se inyecta el contenido de cada vista -->
  </main>
</body>
</html>
